@import '../../style/colors.scss';

/* CONTENEDOR DE LISTADO Y FILTROS DE PELICULAS */
#container-peliculas{
    max-height: 100vh;
    background-color: $claro;
    color: $oscuro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DE FILTROS Y DE PELÍCULAS*/
#contenido-peliculas{
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/*H2 DE CATALOGO DE PELICULAS*/
#contenido-peliculas h2{
    font-size: 2.5em;
    margin: 1em 0;
}
/* CONTENEDOR DE FILTROS DE PELÍCULAS */
#filtros-peliculas{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
/* H2 DE LOS FILTROS */
#filtros-peliculas h2{
    font-size: 1.25em;
}
/* INPUT DE LOS FILTROS */
#filtros-peliculas input{
    all: unset;
    font-size: 1em;
    background-color: $complementario2;
    color: $oscuro;
    border: 2px solid $oscuro;
    text-align: left;
    padding: 0 0.25em;
}
#filtros-peliculas input:focus{
    background-color: $complementario1;
    color: $oscuro;
    border: 2px solid $oscuro;
    text-align: left;
    padding: 0 0.25em;
}
/* CONTENEDOR DE BARRA DE BUSQUEDA DE PELICULAS Y LUPA */
.barra-busqueda-peliculas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
/*MENSAJE DE RESULTADO DE BUSQUEDAS*/
.mensaje-resultado-busqueda{
    margin: 1em;
    width: 50%;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 3px solid $principal;
}
.mensaje-resultado-busqueda span{
    margin-left: 3em;
    cursor: pointer;
}
/* CONTENEDOR DEL LISTADO DE PELICULAS */
#listado-peliculas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pelicula-individual{
    text-align: left;
    width: 40%;
    margin: 2em;
    border:2px solid transparent;
    padding: 1em;
    transition: 0.25s;
    background-color: $complementario2;
    color: $oscuro;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px $oscuro;
}
.pelicula-individual:hover{
    background-color: $principal;
    border:2px solid $complementario1;
    color: $claro;
    cursor: pointer;
}
/*CARATULA*/
.pelicula-individual div{
    border: 2px solid $oscuro;
    width: 8em;
    height: 10em;
    margin-bottom: 1em;
}
.pelicula-individual div img{
    width: 8em;
    height: 10em;
}
.pelicula-individual span{
    font-weight: bold;
}