:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR DE LISTADO Y FILTROS DE PELICULAS */
#container-peliculas{
    max-height: 100vh;
    background-color: var(--masclaro);
    color: var(--masoscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DE FILTROS Y DE PELÍCULAS*/
#contenido-peliculas{
    width: 75vw;
    height: 100vh;
    overflow-y: scroll;
}
/* CONTENEDOR DE FILTROS DE PELÍCULAS */
#filtros-peliculas{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
/* H2 DE LOS FILTROS */
#filtros-peliculas h2{
    font-size: 1em;
    margin: 1em 0;
}
/* INPUT DE LOS FILTROS */
#filtros-peliculas input{
    all: unset;
    font-size: 1em;
    background-color: var(--claro);
    color: var(--masoscuro);
    border: 2px solid var(--masoscuro);
    text-align: left;
    padding: 0 0.25em;
}
/* SELECT DE CIUDADES DISPONIBLES */
#ciudades-disponibles{
    font-size: 1em;
    background-color: var(--claro);
    color: var(--masoscuro);
    border: 2px solid var(--masoscuro);
    cursor: pointer;
}
/* CONTENEDOR DE BARRA DE BUSQUEDA DE PELICULAS Y LUPA */
.barra-busqueda-peliculas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
/* CONTENEDOR DEL LISTADO DE PELICULAS */
#listado-peliculas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pelicula-individual{
    text-align: left;
    width: 20%;
    margin: 2em;
    border:2px solid var(--claro);
    padding: 1em;
    transition: 0.25s;
    background-color: var(--claro);
    color: var(--masoscuro);
    border-radius: 0.5em;
    cursor: default;
}
/*CARATULA*/
.pelicula-individual div{
    border: 2px solid var(--oscuro);
    width: 8em;
    height: 10em;
    margin-bottom: 1em;
}
.pelicula-individual span{
    font-weight: bold;
}
.pelicula-individual:hover{
    background-color: var(--masoscuro);
    border:2px solid var(--neutro);
    color: var(--neutro);
}