:root {
    --masoscuro: #401708;
    --oscuro: #8C2703;
    --neutro: #D93D04;
    --claro: #F27405;
    --masclaro: #F2AA6B;
}
/* CONTENEDOR DE LISTADO Y FILTROS DE PELICULAS */
#container-peliculas{
    min-height: 100vh;
    background-color: var(--masclaro);
    color: var(--masoscuro);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* CONTENEDOR DE FILTROS DE PELÍCULAS */
#filtros-peliculas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}
#filtros-peliculas input{
    all: unset;
    font-size: 1em;
    background-color: var(--claro);
    color: var(--masoscuro);
    border: 2px solid var(--masoscuro);
    text-align: left;
    padding: 0 0.25em;
}
/* SELECT DE CIUDADES DISPONIBLES */
#ciudades-disponibles{
    font-size: 1em;
    background-color: var(--claro);
    color: var(--masoscuro);
    border: 2px solid var(--masoscuro);
    cursor: pointer;
}
/* CONTENEDOR DE BARRA DE BUSQUEDA DE PELICULAS Y LUPA */
.barra-busqueda-peliculas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
/* BOTON PARA BUSCAR PELICULAS POR NOMBRE */
.boton-buscar-pelicula{
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.2s;
}
.boton-buscar-pelicula img{
    width: 1.5em;
    height: 1.5em;
}
/* CONTENEDOR DEL LISTADO DE PELICULAS */
#listado-peliculas{
    min-width: 98.5vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pelicula-individual{
    text-align: left;
    width: 20%;
    margin: 2em;
    border:2px solid var(--claro);
    padding: 1em;
    transition: 0.25s;
    background-color: var(--oscuro);
    border:2px solid var(--masoscuro);
    color: var(--masclaro);
    cursor: default;
}
.pelicula-individual span{
    font-weight: bold;
}
.pelicula-individual:hover{
    background-color: var(--neutro);
    border:2px solid var(--claro);
    color: var(--masoscuro);
}