:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR PERFIL */
#container-perfil{
    width: 100vw;
    height: 100vh;
    background-color: var(--masclaro);
    color: var(--masoscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
/* CONTENEDOR DE BLOQUE USUARIO */
#container-usuario{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:var(--masclaro);
    color: var(--masoscuro);
    font-size: 1.25em;
}
#container-usuario h2{
    margin: 1em 0;
}
/* DATOS DE USUARIO */
#datos-usuario{
    background-color: var(--claro);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5em;
    border-radius: 0.5em;
    position: relative;
    box-shadow: 0px 0px 8px 0.1em var(--oscuro);
}
#foto-usuario{
    position: absolute;
    right: 0.5em;
    height: 12em;
    width: 10em;
    border: 2px solid var(--masoscuro);
}
#foto-usuario img{
    width: 100%;
    height: 100%;
}
#datos-usuario p{
    margin-bottom: 1em;
}
#datos-usuario span{
    font-weight: bold;
}
/* INPUT DE USUARIO PARA ACTUALIZAR CAMPOS */
#datos-usuario input{
    all:unset;
    width: 20em;
    margin: 0 1em;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--masoscuro);
    background-color: var(--claro);
    padding: 0.25em;
    color: var(--masoscuro);
}
#datos-usuario input:focus{
    border: 2px solid var(--masclaro);
    background-color: var(--masoscuro);
    color: var(--neutro);
}
/* INPUT NO MODIFICABLES */
#datos-usuario input:read-only{
    all:unset;
    width: 12em;
    margin: 0 1em;
    text-align: left;
    border: 2px solid transparent;
    background-color: var(--claro);
    padding: 0.25em;
    color: var(--masoscuro);
}
#datos-usuario input:focus:read-only{
    border: 2px solid transparent;
    background-color: var(--claro);
}
/*BOTON DE ACTUALIZAR*/
#container-usuario .boton{
    margin-top: 1em;
}