:root {
    --masoscuro: #401708;
    --oscuro: #8C2703;
    --neutro: #D93D04;
    --claro: #F27405;
    --masclaro: #F2AA6B;
}
/* CONTENEDOR HOME */
#container-perfil{
    width: 100vw;
    height: calc(100vh - 3.5em);
    background-color: var(--masclaro);
    color: var(--masoscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
/* CONTENEDOR DE BLOQUE USUARIO */
#container-usuario{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:var(--oscuro);
    color: var(--masclaro);
}
/* 1ยบ HR DE USUARIO */
#container-usuario hr{
    width: 90%;
    height: 0.1em;
    background-color: var(--masoscuro);
    border: 0 solid transparent;
}
/* DATOS DE USUARIO */
#datos-usuario{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#datos-usuario p{
    margin: 1em 0;
}
/* INPUT DE USUARIO PARA ACTUALIZAR CAMPOS */
#datos-usuario input{
    all:unset;
    margin: 0 1em;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--masoscuro);
    background-color: var(--oscuro);
    padding: 0.25em;
    color: var(--masclaro);
}
#datos-usuario input:focus{
    border: 2px solid var(--masoscuro);
    background-color: var(--claro);
    color: var(--masoscuro);
}
/* INPUT NO MODIFICABLES */
#datos-usuario input:read-only{
    all:unset;
    width: 12em;
    margin: 0 1em;
    text-align: left;
    border: 2px solid transparent;
    background-color: var(--oscuro);
    padding: 0.25em;
    color: var(--masclaro);
}
#datos-usuario input:focus:read-only{
    border: 2px solid transparent;
    background-color: var(--oscuro);
}

/* BOTON ACTUALIZAR USUARIO */
#boton-actualizar-usuario{
    color: var(--claro);
    background-color: var(--masoscuro);
    padding: 0.5em 2em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-end;
    margin: 0 1em 0.5em 0;
}
#boton-actualizar-usuario:hover{
    color: var(--masoscuro);
    background-color: var(--claro);
    padding: 0.5em 2em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-end;
    margin: 0 1em 0.5em 0;
}