:root {
    --principal: #114358;
    --fondo: #11435898;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR INICIO */
#container-inicio{
    width: 100vw;
    height: 100vh;
    background-color: var(--claro);
    background-image: url(../../img/fondo.jpg);
    background-size: cover;
    color: var(--oscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*DEGRADADO DE COLOR EN IMAGEN DE FONDO*/
#container-inicio::before{
    background-color: var(--fondo);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
/* BLOQUE IZQUIERDA INICIO */
#mensaje-inicio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 10;
    color: var(--claro);
    width: 60%;
    height: 70vh;
}
#mensaje-inicio #logo{
    position: absolute;
    top:2em;
    left: 2em;
    width: 5em;
    height: 4em;
}
#mensaje-inicio #logo img{
    width: 5em;
    height: 4em;
}
/*H2 DE MENSAJE DE INICIO IZQUIERDA*/
#mensaje-inicio h2{
    font-size: 2.5em;
    margin: 0.5em;
    font-weight: normal;
}
/*TEXTO RESALTADO EN MENSAJE INICIO IZQUIERDA*/
#mensaje-inicio span{
    color: var(--complementario1);
    font-weight: bold;
}
/* BLOQUE DERECHA INICIO */
#login-inicio{
    z-index: 2;
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--principal);
    border-radius: 0.25em;
}
/* H2 DE INICIO */
#login-inicio h2{
    color: var(--complementario2);
    align-self: flex-start;
    margin: 1em 0 1em 1.5em;
}
/* INPUT DE INICIO */
#login-inicio input{
    all:unset;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--oscuro);
    padding: 0.25em;
    width: 80%;
    margin: 0.5em 0;
}
#login-inicio input:focus{
    color: var(--oscuro);
    border: 2px solid var(--claro);
    background-color: var(--complementario1);
}
#login-inicio input::placeholder {
    color: var(--oscuro);
}
/*BOTON DE LOGIN*/
#login-inicio .boton{
    width: 60%;
    margin: 1.5em 0;
}
/*ENLACE DE CONTACTA CON NOSOTROS*/
#enlace-contacto{
    text-align: left;
    width: 80%;
    color: var(--claro);
}
#enlace-contacto strong{
    cursor: pointer;
    color: var(--complementario1);
    text-decoration: underline;
}