:root {
    --masoscuro: #401708;
    --oscuro: #8c2703ea;
    --neutro: #D93D04;
    --claro: #F27405;
    --masclaro: #F2AA6B;
}
/* CONTENEDOR INICIO */
#container-inicio{
    width: 100vw;
    height: 100vh;
    background-color: var(--masclaro);
    color: var(--masoscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/fondo.png');
    background-size: contain;
}
/* BLOQUE IZQUIERDA INICIO */
#mensaje-inicio{
    width: 60%;
}
/* BLOQUE DERECHA INICIO */
#login-inicio{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--oscuro);
}
/* H2 DE INICIO */
#login-inicio h2{
    color: var(--claro);
    align-self: flex-start;
    margin: 1em 0 1em 1.5em;
}
/* INPUT DE INICIO */
#login-inicio input{
    all:unset;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--masoscuro);
    padding: 0.25em;
    width: 80%;
    margin: 0.5em 0;
}
#login-inicio input:focus{
    border: 2px solid var(--masoscuro);
    background-color: var(--claro);
}
#login-inicio input::placeholder {
    color: var(--neutro);
}
/*BOTON DE LOGIN*/
#login-inicio .boton{
    width: 60%;
    margin: 1.5em 0;
}
/*ENLACE DE CONTACTA CON NOSOTROS*/
#enlace-contacto{
    text-align: left;
    width: 80%;
    color: var(--claro);
}
#enlace-contacto strong{
    cursor: pointer;
}