:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR INICIO */
#container-inicio{
    width: 100vw;
    height: 100vh;
    background-color: var(--claro);
    color: var(--oscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* BLOQUE IZQUIERDA INICIO */
#mensaje-inicio{
    width: 60%;
}
/* BLOQUE DERECHA INICIO */
#login-inicio{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--principal);
    border-radius: 0.25em;
}
/* H2 DE INICIO */
#login-inicio h2{
    color: var(--complementario2);
    align-self: flex-start;
    margin: 1em 0 1em 1.5em;
}
/* INPUT DE INICIO */
#login-inicio input{
    all:unset;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--oscuro);
    padding: 0.25em;
    width: 80%;
    margin: 0.5em 0;
}
#login-inicio input:focus{
    color: var(--oscuro);
    border: 2px solid var(--claro);
    background-color: var(--complementario1);
}
#login-inicio input::placeholder {
    color: var(--oscuro);
}
/*BOTON DE LOGIN*/
#login-inicio .boton{
    width: 60%;
    margin: 1.5em 0;
}
/*ENLACE DE CONTACTA CON NOSOTROS*/
#enlace-contacto{
    text-align: left;
    width: 80%;
    color: var(--claro);
}
#enlace-contacto strong{
    cursor: pointer;
    color: var(--complementario1);
    text-decoration: underline;
}