:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
#container-lateral{
    height: 100vh;
    width: 20vw;
    background-color: var(--principal);
    color: var(--claro);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/*ENLACES*/
.enlace-lateral{
    font-size: 1em;
    text-align: left;
    width: calc(100% - 2em);
    cursor: pointer;
    transition: 0.3s;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}
.enlace-lateral:hover{
    text-shadow: 0px 0px 5px var(--complementario2);
    color:var(--oscuro);
    background-color: var(--complementario1);
}
#opciones-admin, #opciones-user{
    width: 100%;
}
#logout-lateral{
    width: 16.4em;
    position: absolute;
    bottom: 1em;
}