/*COLORES DE LA APLICACIÓN*/
$principal: #114358;
$fondo: #11435898;
$principal-transparente: #114358ec;
$complementario1: #F2AA1F;
$complementario2: #F1ECE7;
$complementario2-transparente: #f1ece7de;
$oscuro: #090909;
$claro: #EEEEEE;
