:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR HOME */
#container-tuzona{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
/* CONTENEDOR DE BLOQUE USUARIO */
#contenido-tuzona{
    width: 75vw;
    height: 100%;
    background-color:var(--masclaro);
    color: var(--masoscuro);
}