@import '../../style/colors.scss';

/* CONTENEDOR GESTION ADMINISTRADOR */
#container-buscar-pelicula{
    width: 100vw;
    height: 100vh;
    background-color: $claro;
    color: $oscuro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DE pelicula POR ID*/
#cuadro-pelicula-id{
    width: 80vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/*H2 DE VISTA DE BUSQUEDA DE pelicula*/
#cuadro-pelicula-id h2{
    font-size: 2em;
    margin-bottom: 0.5em;
}
/*BARRA DE BUSQUEDA Y LUPA DE pelicula POR ID*/
.barra-busqueda-pelicula{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.barra-busqueda-pelicula input{
    all: unset;
    width: 9em;
    font-size: 1em;
    background-color: $complementario2;
    color: $oscuro;
    border: 2px solid $oscuro;
    text-align: left;
    padding: 0 0.25em;
    margin-bottom: 1em;
}
.barra-busqueda-pelicula input:focus{
    background-color: $complementario1;
}
/*CONTENEDOR DE DATOS DE pelicula POR ID*/
#datos-pelicula-id{
    font-size: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: $complementario2;
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0px 0px 8px 0.1em $oscuro;
}
#datos-pelicula-id span{
    font-weight: bold;
}
#datos-pelicula-id p{
    margin: 1em 0;
}
/* INPUT DE pelicula ID PARA ACTUALIZAR CAMPOS */
#datos-pelicula-id input{
    all:unset;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid $oscuro;
    background-color: $complementario2;
    padding: 0.25em;
    width: 50em;
    margin-left: 1em;
    color: $oscuro;
}
#datos-pelicula-id input:focus{
    border: 2px solid $oscuro;
    background-color: $complementario1;
    color: $oscuro;
}
/* INPUT NO MODIFICABLES */
#datos-pelicula-id input:read-only{
    all:unset;
    width: 12em;
    margin: 0 1em;
    text-align: left;
    border: 2px solid transparent;
    background-color: $complementario2;
    padding: 0.25em;
    color: $oscuro;
}
/*BOTONES*/
#botones-buscar-pelicula{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#botones-buscar-pelicula div{
    margin: 1em 2em;
}