@import '../../style/colors.scss';

/* CONTENEDOR DE LISTADO Y FILTROS DE PELICULAS */
#container-listado-peliculas{
    width: 100vw;
    height: 100vh;
    background-color: $claro;
    color: $oscuro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DE H2, NOMBRES DE COLUMNAS Y LISTADO DE peliculas*/
#contenido-listado-peliculas{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;    
    /*H2 DE CONTENIDO peliculas*/
    h2{
        font-size: 2em;
        margin: 1em 0;
    }
}
/*CONTENEDOR DE NOMBRES DE COLUMNAS*/
#contenido-listado-peliculas #nombres-columnas-listado-peliculas{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 0.75em;
}
#contenido-listado-peliculas #nombres-columnas-listado-peliculas div{
    width: 10%;
    font-size: 1.2em;
    font-weight: bold;
}
/*LISTA DE peliculas*/
#lista-listado-peliculas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*UN UNICO USUARIO*/
.pelicula-lista-individual{
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: $complementario2;
    margin: 0.25em 0;
    transition: 0.3s;
    overflow: hidden;
    border-top: 2px solid $oscuro;
    border-bottom: 2px solid $oscuro;
    p{
        font-size: 1em;
        text-align: center;
        width: 10%;
    }
    span{
        font-weight: bold;
    }
}
.pelicula-lista-individual:hover{
    background-color: $principal;
    color: $claro;
    cursor: pointer;
    border-top: 2px solid $complementario1;
    border-bottom: 2px solid $complementario1;
}