:root {
    --principal: #114358;
    --principal-transparente: #114358ec;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR PERFIL */
#container-perfil-pelicula{
    width: 100vw;
    height: 100vh;
    background-color: var(--claro);
    background-size: cover;
    color: var(--oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/*CONTENEDOR DE LA CARATULA, DE LOS DATOS Y DE LOS BOTONES*/
#contenido-perfil-pelicula{
    background-color: var(--principal-transparente);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}
#contenido-perfil-pelicula h2{
    font-size: 3em;
    color: var(--claro);
}
/*CONTENEDOR DE LA CARATULA Y DE LOS DATOS*/
#informacion-pelicula{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#caratula-pelicula{
    border: 2px solid var(--complementario1);
    width: 20vw;
    height: 60vh;
    margin: 0 2em;
}
#caratula-pelicula img{
    width: 20vw;
    height: 60vh;
}
#datos-pelicula{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.25em;
    color: var(--claro);
    height: 60vh;
}
#datos-pelicula div{
    margin-bottom: 1em;
}
#datos-pelicula span{
    font-weight: bold;
}
/*CONTENEDOR DE LOS BOTONES*/
#botones-perfil-pelicula{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
/*FLECHA PARA PODER VOLVER AL LISTADO DE PELICULAS*/
#flecha-regreso{
    cursor: pointer;
    color: var(--claro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    transition: 0.3s;
}
#flecha-regreso:hover{
    text-shadow: 0px 0px 3px var(--complementario2);
}
#flecha-regreso img{
    width: 3em;
    height: 2em;
    margin-right: 1em;
}