:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR PERFIL */
#container-perfil-pelicula{
    width: 100vw;
    height: 100vh;
    background-color: var(--claro);
    color: var(--oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/*FLECHA PARA PODER VOLVER AL LISTADO DE PELICULAS*/
#flecha-regreso{
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background-color: var(--complementario2);
}
/*CONTENEDOR DE LA CARATULA Y DE LOS DATOS*/
#contenedor-caratula-datos{
    background-color: var(--principal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}
#caratula-pelicula{
    border: 2px solid var(--complementario1);
    width: 28vw;
    height: 80vh;
    margin: 0 2em;
}
#datos-pelicula{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.25em;
    height: 80vh;
    color: var(--claro);
    margin-top: 2em;
}
#datos-pelicula div{
    margin-bottom: 1em;
}
#datos-pelicula span{
    font-weight: bold;
}