:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR GESTION ADMINISTRADOR */
#container-buscar-usuario{
    width: 100vw;
    height: 100vh;
    background-color: var(--claro);
    color: var(--oscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DE USUARIO POR ID*/
#cuadro-usuario-id{
    width: 80vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/*H2 DE VISTA DE BUSQUEDA DE USUARIO*/
#cuadro-usuario-id h2{
    font-size: 2em;
    margin-bottom: 0.5em;
}
/*BARRA DE BUSQUEDA Y LUPA DE USUARIO POR ID*/
.barra-busqueda-usuario{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.barra-busqueda-usuario input{
    all: unset;
    width: 9em;
    font-size: 1em;
    background-color: var(--complementario2);
    color: var(--oscuro);
    border: 2px solid var(--oscuro);
    text-align: left;
    padding: 0 0.25em;
    margin-bottom: 1em;
}
.barra-busqueda-usuario input:focus{
    background-color: var(--complementario1);
}
/*CONTENEDOR DE DATOS DE USUARIO POR ID*/
#datos-usuario-id{
    font-size: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--complementario2);
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0px 0px 8px 0.1em var(--oscuro);
}
#datos-usuario-id span{
    font-weight: bold;
}
#datos-usuario-id p{
    margin: 1em 0;
}
/* INPUT DE USUARIO ID PARA ACTUALIZAR CAMPOS */
#datos-usuario-id input{
    all:unset;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--oscuro);
    background-color: var(--complementario2);
    padding: 0.25em;
    width: 60em;
    margin-left: 1em;
    color: var(--oscuro);
}
#datos-usuario-id input:focus{
    border: 2px solid var(--oscuro);
    background-color: var(--complementario1);
    color: var(--oscuro);
}
/* INPUT NO MODIFICABLES */
#datos-usuario-id input:read-only{
    all:unset;
    width: 12em;
    margin: 0 1em;
    text-align: left;
    border: 2px solid transparent;
    background-color: var(--complementario2);
    padding: 0.25em;
    color: var(--oscuro);
}
/*BOTONES*/
#botones-buscar-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#botones-buscar-usuario div{
    margin: 1em 2em;
}