:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR DE LISTADO Y FILTROS DE PELICULAS */
#container-usuarios{
    height: 100vh;
    background-color: var(--masclaro);
    color: var(--masoscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#lista-usuarios{
    width: 75em;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.usuario-individual{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 30%;
    background-color: var(--claro);
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
}
.usuario-individual span{
    font-weight: bold;
}