@import '../../style/colors.scss';

/* CONTENEDOR DE LATERAL Y PEDIDOS */
#container-alquileres{
    height: 100vh;
    background-color: $claro;
    color: $oscuro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENIDO DE ALQUILERES*/
#contenido-alquileres{
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
    /*H2 DE CONTENIDO ALQUILERES*/
    h2{
        font-size: 2em;
        margin: 1em 0;
    }
}
/*AVISO DE LISTADO DE ALQUILERES VACÍO*/
#alquileres-vacio{
    font-size: 1.5em;
    margin: 9em;
    p{
        margin: 1em;
    }
    span{
        color: $principal;
        font-weight: bold;
    }
}
/*LISTADO DE ALQUILERES*/
#listado-alquileres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*ALQUILER INDIVIDUAL DE LA LISTA*/
#alquiler{
    text-align: left;
    width: 40%;
    margin: 2em;
    border:2px solid transparent;
    padding: 1em;
    transition: 0.25s;
    background-color: $complementario2;
    color: $oscuro;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px $oscuro;
    cursor: default;
    span{
        font-weight: bold;
    }
    div{
        border: 2px solid $oscuro;
        width: 8em;
        height: 10em;
        margin-bottom: 0.5em;
        img{
            width: 8em;
            height: 10em;
        }
    }
}