:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR DE LATERAL Y PEDIDOS */
#container-alquileres{
    height: 100vh;
    background-color: var(--claro);
    color: var(--oscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENIDO DE ALQUILERES*/
#contenido-alquileres{
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
}
/*H2 DE CONTENIDO ALQUILERES*/
#contenido-alquileres h2{
    font-size: 2em;
    margin: 1em 0;
}
/*LISTADO DE ALQUILERES*/
#listado-alquileres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*ALQUILER INDIVIDUAL DE LA LISTA*/
#alquiler{
    text-align: left;
    width: 40%;
    margin: 2em;
    border:2px solid transparent;
    padding: 1em;
    transition: 0.25s;
    background-color: var(--complementario2);
    color: var(--oscuro);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px var(--oscuro);
    cursor: default;
}
#alquiler span{
    font-weight: bold;
}
#alquiler div{
    border: 2px solid var(--oscuro);
    width: 8em;
    height: 10em;
}
#alquiler div img{
    width: 8em;
    height: 10em;
}