:root {
  --masoscuro: #401708;
  --oscuro: #8C2703;
  --neutro: #D93D04;
  --claro: #F27405;
  --masclaro: #F2AA6B;
}
*{
  padding: 0;
  margin: 0;
}
*::selection{
  color: var(--masclaro);
  background-color: var(--masoscuro);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boton{
    color: var(--claro);
    background-color: var(--masoscuro);
    padding: 0.5em 2em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}
.boton:hover{
    color: var(--masoscuro);
    background-color: var(--claro);
}
.boton-lupa{
    width: 2em;
    height: 2em;
    cursor: pointer;
}
.boton-lupa img{
  width: 1.5em;
  height: 1.5em;
}
