:root {
    --masoscuro: #401708;
    --oscuro: #8C2703;
    --neutro: #D93D04;
    --claro: #F27405;
    --masclaro: #F2AA6B;
}
#container-header{
    height: 3.5em;
    width: 100%;
    background-color: var(--masoscuro);
    color: var(--masclaro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
/*ENLACES*/
.enlace-header{
    margin: 0 2em;
    cursor: pointer;
    transition: 0.3s;
}
.enlace-header:hover{
    text-shadow: 0px 0px 5px var(--neutro);
    color:var(--neutro)
}