:root {
    --principal: #114358;
    --complementario1: #F2AA1F;
    --complementario2: #F1ECE7;
    --oscuro: #090909;
    --claro: #EEEEEE;
}
/* CONTENEDOR REGISTRO */
#container-registro-pelicula{
    width: 100vw;
    height: 100vh;
    background-color: var(--claro);
    color: var(--oscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*CONTENEDOR DE TARJETA DE REGISTRO*/
#contenido-registro-pelicula{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* H2 DE REGISTRO */
#contenido-registro-pelicula h2{
    font-size: 2em;
}
/*CONTENEDOR DE REGISTRO*/
#cuadro-registro-pelicula{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--complementario2);
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 0.1em var(--oscuro);
}
/* INPUT DE REGISTRO */
#cuadro-registro-pelicula input{
    all:unset;
    text-align: left;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--oscuro);
    padding: 0.25em;
    width: 90%;
}
#cuadro-registro-pelicula input:focus{
    border: 2px solid var(--oscuro);
    background-color: var(--complementario1);
    color: var(--oscuro);
}
#cuadro-registro-pelicula input::placeholder {
    color: var(--principal);
}
#cuadro-registro-pelicula textarea{
    all:unset;
    text-align: left;
    border: 2px solid var(--oscuro);
    padding: 0.25em;
    width: 90%;
}
#cuadro-registro-pelicula textarea::placeholder {
    color: var(--principal);
}
#cuadro-registro-pelicula textarea:focus{
    border: 2px solid var(--oscuro);
    background-color: var(--complementario1);
    color: var(--oscuro);
}